
.IMG{
  height: 500px;
 width:1300px;

}
.tit{
  color:#b85217;
}
.title{
    font-size: 21px;
    color:#b85217;
   
    font-weight: 500;
    text-align: left;
  
}
.titlel{

  color:#b85217;
  text-align: left;
  font-size: 21px;

}

.titl{
  text-align: left;
 
 
  color: #292727;
  

}
