.add h1{
  color: rgb(140, 99, 16);
  font-size:xx-large;
}

.add p{
color: black;
font-size: large;
text-align: center;
font-size: 16px;
font-weight: 500;
font-style:unset;


}


.add{
width: 95%;
align-items: center;
display: flex;
justify-items: center;
flex-direction: column;
height: 100%;
margin-left: 60px;
background-color: rgb(255, 255, 255);
padding: 20px;
border-radius: 10px;


}


.icon{
  color: brown;
}



.map{
  
  align-items: center;
  display: flex;
  justify-items: center;
  gap: 85px;
  flex-direction: row;
  width: 90%;
  height: 50vh;
  color: rgb(10, 10, 11);
}