.menu{

  align-items: center;
  display: flex;
  justify-items: center;
  gap: 55px;
  flex-direction: column;
  width: 100%;
  height: 200vh;

}


.menu .menuTitle {
  font-family: cursive;
  font-size: 60px;
}


/* MENU ITEM STYLING */

.pre{
  text-align: end;
  color: brown;

font-style:italic;

}
.p{
  text-align: end;
  color: brown;

font-style:italic;
}




.menuItem h1,
.menuItem p {
  margin-left: 20px;
}





.cards{
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 55px;
    
}

.card {
    width: 200px;
    height: 300px;
    background: rgb(251, 251, 251);
    padding: .4em;
    border-radius: 6px;

  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;

  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  .watch_btn{

    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    height: 28px;
    width: 80px;
    justify-content: center;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    
    
    }
    
    .watch_btn:hover {
      background: #e3e3e3;
      color: #120e0e;
    }
    
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
