.navbar {
  width: 100%;
  height: 60px;
  color: aliceblue;
  background-color: #121619;
  display: flex;
  flex-direction: row;
}
.navbar   img{
margin-top: 10px;
  width: 55px;
  height: 40px;

}



.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}
.h1{
  margin-top: 50px;
}





@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}
.h1{
  color:rgb(255, 255, 255) ;
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

 
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
