* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heights: 50vh;
  --widths: 100%;
}

.slider-container {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  margin: auto;
  overflow: hidden;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: var(--heights);
  width: var(--widths);
  position: relative;
}

.slide-image {
  width: 30%;
  height: 50%;
  
  object-fit: cover;

}
.slide-image1 {
  width: 80%;
  height: 100%;
  position:center;
  object-fit: cover;

}

.slide-title,
.slide-text {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 40%;
  z-index: 10;
}

.slide-text {
  top: 65%;
  font-size: 2rem;
}

.prev{
  color:rgb(143, 139, 139);
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 31%;

  margin-left: -320px;

  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.next {
  color:rgb(143, 139, 139);
  cursor: pointer;

  position: absolute;
  top: 15%;

  padding: 60px 300px ;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.slider-container:hover .prev,.slider-container:hover .next {
  color: rgb(165, 163, 163)
}

.slider-container:hover .prev:hover,
.slider-container:hover .next:hover {
  color: rgb(50, 48, 48);
  
  transition: all 0.5s ease-in;
}


.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 70%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0px 3px;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 50%;
  display: inline-block;
}

.slider-container:hover .dot:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* .active-dot {
  background-color: rgba(0, 0, 0, 0.3);
} */

.slider-container:hover .dot{
  background-color: rgba(0, 0, 0, 0.3);
}
.slider-container:hover .active-dot{
  background-color: rgba(0, 0, 0, 0.5);
}

.play-pause {
  color: black;
}
